/* Datatable remove sorting arrow icon */
.dataTable>thead>tr>th[class*="sort"]:after {
    content: "" !important;
}

.dataTable>thead>tr>th[class*="sort"]:before {
    content: "" !important;
}

.btn-diagnosa {
    width: 100px;
}

.vertical {
    margin-top: 50%;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    left: 5px;
    margin-top: 5px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: none;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");


label {
    font-weight: 600;
}